* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('../Images/av.jpg');
  }

  
  .container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14px) saturate(156%);
    -webkit-backdrop-filter: blur(14px) saturate(156%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-link {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  .signup-link a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  